@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #025e73, #03a688);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #04586be3;
}
h1 {
    color: #011f26;
    text-shadow: 1px 1px 2px #010e1180;
}

h2 {
    color: #025e73;
}

p {
    text-align: justify;
}
